@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@layer base{
    body{
        font-family: "Rubik", serif;
        font-size: 16px;
    }
}
@layer components{
    .received{
        background-color: hsl(276, 100%, 81%, 0.25);
        color: hsl(276, 55%, 52%);
        border-radius: var(--radius-2xl) var(--radius-2xl) var(--radius-2xl) 8px;
        font-size: 9px;
        margin-bottom: calc(var(--spacing) * 2);
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
        max-width: calc(2/3 * 100%);
    }
    .sent{
        border-radius: var(--radius-2xl) var(--radius-2xl) 8px var(--radius-2xl);
        background-color: white;
        color: hsl(271, 15%, 43%);
        box-shadow: var(--shadow-xl);
        font-size: 9px;
        margin-bottom: calc(var(--spacing) * 2);
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
        max-width: calc(2/3 * 100%);
        align-self: end;
    }
    .price{
        background-image: linear-gradient(to right, hsl(289,100%,72%) 0%, hsl(264,100%,61%) 100%);
        color: white;
        border-radius: var(--radius-xl) var(--radius-xl) var(--radius-xl) 8px;
        font-size: 9px;
        margin-bottom: calc(var(--spacing) * 2);
        padding: calc(var(--spacing) * 2.5) calc(var(--spacing) * 3);
        max-width: calc(3/4 * 100%);
    }
}
